* {
    transition: all 0.2s;
    font-family: sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 97vh;
    background-image: linear-gradient(to left, rgb(202, 0, 0), rgb(255, 115, 0), rgb(187, 184, 0));
}

#quiz {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    border: 2px solid black;
    box-shadow: 0 0 20px black;
    width: 50vw;
    height: 90vh;
    padding: 0.5rem;
    text-align: center;
}

#imagen {
    margin-bottom: 0.5rem;
    width: 20%;
    align-self: baseline;
}

#categoria {
    opacity: 0.5;
    margin: 0;
    font-size: large;
    font-family: monospace;
}

#pregunta {
    margin: 0;
    width: 100%;
}

#opciones {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.buttons {
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.2rem;
    padding: 0.5rem;
}
.buttons:hover {
    cursor: pointer;
    background-color: rgb(226, 226, 226);
}

#progreso {
    text-align: center;
    font-size: small;
}

.finalJuego {
    position: absolute;
    top: 35%;
    font-size: x-large;
}

.modal {
    font-size: medium;
}

p {
    font-weight: 600;
}

.reintentarBtn {
    background-color: white;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 0.7rem;
    font-size: medium;
    font-weight: 600;
}
.reintentarBtn:hover {
    cursor: pointer;
    background-color: rgba(144, 238, 144, 0.466);
}

@media only screen and (min-width: 150px) and (max-width: 535px) {
    body {
        height: 97.5vh;
    }
    #quiz {
        width: 90vw;
        height: 90vh;
    }
    #imagen2 img {
        width: 95%;
    }
}

@media only screen and (min-width: 536px) and (max-width: 769px) {
    body {
        height: 97.5vh;
    }
    #quiz {
        width: 90vw;
        height: 90vh;
    }
}